#container{
    text-align: center;
    padding: 30px;
    border: 1px solid #ccc;
}

#container, h1{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(41, 2, 63)
}